[submodule "ttapi"]
	path = ttapi
	url = git://github.com/alaingilbert/Turntable-API.git
[submodule "websocket-client"]
	path = websocket-client
	url = git://github.com/pgriess/node-websocket-client.git
