[submodule "ttapi"]
	path = ttapi
	url = git://github.com/vin/Turntable-API.git
[submodule "websocket-client"]
	path = websocket-client
	url = git://github.com/pgriess/node-websocket-client.git
[submodule "websocket-server"]
	path = websocket-server
	url = git://github.com/miksago/node-websocket-server.git
[submodule "node-config"]
	path = node-config
	url = git://github.com/vin/node-config.git
